<mat-toolbar color="primary" class="mat-toolbar-centered">
    <span>Meu App</span>
    <div class="container">
        <mat-card class="menu-card">
            <button mat-button routerLink="/upload" color="primary">Upload</button>
        </mat-card>
      
        <mat-card class="menu-card">
            <button mat-button routerLink="/consolidated" color="accent">Dados Consolidados</button>
        </mat-card>
    </div>
</mat-toolbar>
  
<div class="container">
    <router-outlet></router-outlet>
</div>
